@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

body {
    font-family: Arial, sans-serif;
    background-image: url('bg.jpg');
    background-position: center;
    background-size: cover;
    overflow: none;
    
    width: auto;
    margin: 0;
    padding: 0;
}

header {
    background: transparent;
    color: #fff;
    padding: 10px;
}

#logo{
    height: 70px;
    width: 70px;
    border-radius: 50%;
    padding: 10px;
    margin-left: 20px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.hero {
    /* background-image: url('hero.jpg');
    background-size: cover;
    background-position: center; */
    color: #b18534;
    text-align: center;
    height: auto;

}

.hero h2 {
    font-family: "Anton", sans-serif;
    font-size: 64px;
    padding: 0;
    margin-top: 20px;
    margin-bottom: 10px;
    /* font-weight: 700; */
    color: #FDF0D5;
}

.hero p {
    font-family: cursive;
    font-size: 24px;
    color: #e8eddf;
    margin-top: 5px;
    margin-bottom: 40px;
}

.hero a {
    padding: 20px 50px;
    background-color: #FB8500;
    border-radius: 30px;
    text-decoration: none;
    color: #FDF0D5;
    font-size: large;
    font-weight: 800;
    text-transform: uppercase;
}

.featured {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 100px;
    margin-bottom: 50px;
    
}

.featured h2{
    margin-right: 50px;
}

.card {
    width: 300px;
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 5px;
    padding: 10px;
    /* margin: 10px; */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card figure{
    width: auto;
    height: 200px;
    object-fit: contain;
}
.card img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.card h3 {
    color: #e28413;
    font-weight: 800;
    text-transform: uppercase;
    text-align: center;
    margin-top: 10px;
    font-size: 24px;
}

.card p {
    text-align: center;
    font-size: 16px;
    color: #000022;
    font-weight: 600;
}

footer {
    background-color: #023047;
    color: #fff;
    text-align: center;
    padding: 20px;
    bottom: 0;
    /* width: 100%; */
}

.anet {
    overflow: hidden;
    margin: 0 auto;
    letter-spacing: .15em;
    white-space: nowrap; /* Ensures text stays on a single line */
    max-width: 500px; /* Limit the width on smaller screens */
  /*word-wrap: normal;  Allow text to wrap on small screens */

  
    /* Animation for typing, using steps to avoid smooth movement */
    animation: typing 3.5s steps(40, end) forwards;
  }
  
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  .anet:after {
    content: "";
    display: inline-block;
    width: .15em;
    height: 1em;
    background-color: orange;
    margin-left: .15em; 
  
    /* Animate blinking cursor using background-color change */
    animation: blink-caret .75s step-end infinite;
  }
  
  @keyframes blink-caret {
    from, to { background-color: transparent }

    50% { background-color: orange; }
  }
.hero a.btn:hover {
    background-color: #412004; 
    color: #fff;
}

.card p:nth-child(3) { 
    color: #000; 
    font-weight: bold;
    transition: all 0.3s ease-in-out;
}
.pzza:hover { 
    color: #008000; 
    text-shadow: 0 0 2px #064706; 
    transform: scale(1.1); 
}
.bur:hover { 
    color: #008000; 
    text-shadow: 0 0 2px #064706; 
    transform: scale(1.1); 
}

*{
    text-decoration: none;
}
.navbar{
    background: transparent; font-family: calibri; padding-right: 15px;padding-left: 15px;
}
.navdiv{
    display: flex; align-items: center; justify-content: space-between;
}

.container{
    text-align: center;
    margin-top: auto;
  }
.btn{
    border: 1px solid #B39772;
    background: none;
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 5px;
    font-family: "montserrat";
    cursor: pointer;
    margin: 10px;
    transition: 0.8s;
    position: relative;
    overflow: hidden;
}
.btn1,.btn2,.btn3,.btn4,.btn5,.btn6{
    color: #B39772;
}
.btn1:hover,.btn2:hover,.btn3:hover,.btn4:hover,.btn5:hover,.btn6:hover{
    color: #ffffff;
}
.btn::before {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 0%;
    background: #B39772;
    z-index: -1;
    transition: 0.8s;
  }
.btn1::before,.btn2::before,.btn3::before,.btn4::before,.btn5::before,.btn6::before{
    bottom: 0;
    border-radius: 50% 50% 0 0;
}
.btn1:hover::before,.btn2:hover::before,.btn3:hover::before,.btn4:hover::before,.btn5:hover::before,.btn6:hover::before{
    height: 180%;
}

footer{
    width: 100%;
    float: left;
    position: relative;
    color: #f1eedb;
    border-bottom: 30px solid #4d443d;
    font-size: 22px;
    background: url(footer.jpg) no-repeat;
    background-size: cover;
    display: block;
    font-family: 'Bebas Neuer', sans-serif;
    line-height: 1.5;
}
footer .wrapper{
    width: 90%;
    min-width: 90%;
    margin-right: 5%;
    margin-left: 5%;
    float: left;
    margin: 0 auto;
    font-size: 18px;
    display: block;
    font-family: 'Bebas Neuer', sans-serif;
}
.bfp-icon {
    background: url(bfp.png) no-repeat;
    width: 120px;
    height: 60px;
    display: block;
    float: right;
    background-size: contain;
    position: absolute;
    right: 30px;
    bottom: 15px;
}
.col-6{
    width: 50%;
}
.col{
    float:left;
}
.col-12{
    width: 100%;
}
footer .logosquad {
    float: left;
    margin-left: 40%;
    border-radius: 50%;
    background: url(logo.png) no-repeat;
    width: 50%;
    height: 110px;
    background-size: 90px 90px;
    background-position: center;
}
footer .wrapper .footer-inner {
    margin: 80px 0 0;
}
footer .f-h-1 {
    width: 40%;
    margin-right: 10%;
    float: left;
}
.icon-tw, .icon-fb, .icon-inst {
    width: 35px;
    height: 35px;
    background-size: 35px 35px;
    margin-bottom: 10px;
}
.icon-fb{
    border-radius: 50%;
}
footer .f-h-2 {
    width: 50%;
    float: left;
}
ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
}
ul li{
    list-style: none;
    font-weight: 600;
    text-shadow: none;
    font-size: 22px;
}
footer .bottom {
    float: left;
    width: 100%;
    text-align: center;
    margin-top: 70px;
    font-size: 16px;
    padding-bottom: 30px;
    padding-left: 60px;
    font-size: 18px;
    font-weight: 600;
}
span{
    font-weight: 600;
    font-size: 17px;
}
.contact{
    padding-left: 60px;
}
.callus{
    padding-left: 23px;
}
ul li:hover{
    color: #b19884;
    cursor: pointer;
}
span:hover{
    color: #b19884;
    cursor: pointer;
}
